[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bio4554/Desktop/1tKsgWc.jpg]
row=3
col=0

[6783d927-8fe9-49df-b92c-ff7454e52f25]
row=0
col=0

[/]
row=1
col=0

[/home/bio4554]
row=2
col=0

